* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

.row {
    width: 100%;
}

.col {
    padding: 0px;
    margin: 2px;
    border: 2px solid black;
    float: left;
}

@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3 {
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2 {
        width: 50%;
    }
    .col-md-3 {
        width: 100%;
        clear: left;
    }
}

@media (max-width: 767px) {
    .col-sm-1, .col-sm-2, .col-sm-3 {
        width: 100%;
    }
}