* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #EDE7E3;
}

h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 15px;
}

.row {
    width: 100%;
}

.section {
    position: relative;
    margin: 15px;
    border: 1px solid black;
    background-color: #d0ccd0;
}

h2 {
    padding: 2px;
    font-size: 1.75em;
    position: absolute;
    margin: 0;
    right: -1px;
    top: -1px;
    border: 1px solid black;
}

p {
    font-size: 1em;
    padding: 8px;
    margin-top: 40px;
    margin-bottom: 0;
}

#prison-break {
    background-color: #f96f5d;
}

#money-heist {
    background-color: #fbf2c0;
}

#lucifer {
    background-color: #ffa62b;
}

@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3 {
        float: left;
        width: 33.3%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2 {
        float: left;
        width: 50%;
    }
    .col-md-3 {
        width: 100%;
        clear: left;
    }
}

@media (max-width: 767px) {
    .col-sm-1, .col-sm-2, .col-sm-3 {
        width: 100%;
    }
}